<nav class="navbar navbar-expand-sm navbar-da" style="background-color: #04cbfa;">
    <ul class = "navbar-nav">

        <button id="home"(click)="contactUs()"> <i  class="fa fa-phone"></i>  Contact us</button>
        <button id="home"(click)="aboutUs()"> <i  class="fa fa-phone"></i>  About us</button>
        <button id="login"(click)="userSignUp()"> <i  class="bi bi-person"></i> Register</button>
        <button id="login"(click)="login()"> <i  class="bi bi-person"></i> Login</button>
    </ul>
</nav>
<div class="header">
    <h1>HotelBooking.COM</h1>
    <p>it's time to<b> discover</b></p>
</div>

