<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
  <div class="container-fluid">
    <button onclick="history.back()"class="btn btn-primary navbar-btn"style="width:80;height: 35;">Go Back</button>   
    <button (click)="logOut()"class="btn btn-danger navbar-btn">Log out</button>
  </div>
</nav> 
<div class="container align-items-center rounded bg-white mt-5">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-4 py-5">
        <img class="rounded-circle mt-5" src=".\assets\profile.png" width="90">
        <span class="font-weight-bold">{{user.userName}}</span>
        <span class="text-black-50">{{user.name}}</span>
        <span>{{user.contactNumber}}</span>
      </div>
    </div>
    <div class="col-md-8">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h6 class="text-right">Edit Profile</h6>
        </div>
        <!-- <form #profileform="ngForm"> -->
        User Name
        <div class="col-md-6"><input type="text" class="form-control" placeholder="UserName" [(ngModel)]="user.userName"required pattern="[A-Za-z]{1,32}"#userName="ngModel"
          [class.is-invalid]="userName.invalid&&userName.touched"/>
          <!-- <small class="text-danger" [class.d-none]="firstname.valid||firstname.untouched">Required field</small> -->
          <div *ngIf="userName.errors && (userName.invalid && userName.touched)">
            <small class="text-danger" *ngIf="userName.errors?.['required']">required field</small>
            <small class="text-danger"*ngIf="userName.errors?.['pattern']">enter a valid username</small>
          </div>
        </div>
        <br>
        Name
        <div class="col-md-6"><input type="text" class="form-control"[(ngModel)]="user.name" placeholder="name"
          #name="ngModel" [class.is-invalid]="name.invalid"/>
          <!-- <small class="text-danger" [class.d-none]="firstname.valid||firstname.untouched">Required field</small> -->
          <div *ngIf="name.errors ">
            <small class="text-danger" *ngIf="name.errors?.['required']">required field</small>
            <small class="text-danger"*ngIf="name.errors?.['pattern']">enter a valid name</small>
          </div>
        </div>
        <br>
        Contact Number
        <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="user.contactNumber" placeholder="contact number"required #contactNumber="ngModel"
          [class.is-invalid]="contactNumber.invalid&&contactNumber.touched"/>
          <!-- <small class="text-danger" [class.d-none]="phonenumber.valid||phonenumber.untouched">Required field</small> -->
          <div *ngIf="contactNumber.errors && (contactNumber.invalid && contactNumber.touched)">
            <small class="text-danger" *ngIf="contactNumber.errors?.['required']">required field</small>
            <small class="text-danger"*ngIf="contactNumber.errors?.['pattern']">enter a valid phone number</small>
          </div>
        </div>
        <br>
        Aadhar Number
        <div class="col-md-6"><input type="text" class="form-control" placeholder="aadharNumber" [(ngModel)]="user.aadharNumber" required #aadharNumber="ngModel"
          [class.is-invalid]="aadharNumber.invalid&&aadharNumber.touched"/>
          <div *ngIf="aadharNumber.errors && (aadharNumber.invalid && aadharNumber.touched)">
            <small class="text-danger" *ngIf="aadharNumber.errors?.['required']">aadharNumber is required</small>
            <small class="text-danger"*ngIf="aadharNumber.errors?.['pattern']">enter valid aadharNumber</small>
          </div>
        </div>
        <br>
        Password
        <div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="user.password" placeholder="password"required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
          #password="ngModel"[class.is-invalid]="password.invalid&&password.touched"/>         
          <!-- <small class="text-danger" [class.d-none]="password.valid||password.untouched">Required field</small> -->
          <div *ngIf="password.errors && (password.invalid && password.touched)">
            <small class="text-danger" *ngIf="password.errors?.['required']">password is required</small>
            <small class="text-danger"*ngIf="password.errors?.['pattern']">must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
          </div>
        </div> 
        <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button"(click)="saveProfile(user)">Save Profile</button>
        </div>
      </div> 
    </div>
  </div>
</div>
